## 1. Function to calculate dot product manually

In [156]:
#Function is called dot and takes in 2 vectors. Added try except logic for common errors such
#as the arrays not being the same size as well as not having numbers in there
def dot(a,b):
    summed = 0
    try:
        for i in range(len(a)) and range(len(b)): #this ensures the length of both are checked
            summed = summed + (a[i] * b[i]) #adding the product as it iterates through to summed
    except IndexError:
        print('Arrays must be same size')
    except TypeError:
        print('All values must be numeric')
    except Exception as e:
        return e
    else:
        return summed

dot([1,2,3],[5,6,7])

38

In [157]:
dot([1,2,'c'],[5,6,7])

All values must be numeric

In [128]:
#This was another way of coding it but this one doesn't have the try/except logic
def dot_prod(a,b):
        
    return sum(i*j for i,j in zip(a,b))
        
dot_prod([1,2,3],[4,5,6])

32

## Function to calculate cross product manually

In [159]:
#create a function to calculate cross product
def cross(m,n):
    s = []  #create a variable to hold the matrix to append to
    try:
        for i in range(len(m)) and range(len(n)):
            if i == 0: #first time in, we will multiply m.1 and n.2 and subtract m.2 times n.1
                c,d = 1,2
                s.append(m[c]*n[d] - m[d]*n[c])
            elif i ==1: #for second one in, multiply m.2 and n.0 and subtract m.0 times n.2
                c,d = 2,0
                s.append(m[c]*n[d] - m[d]*n[c])
            else:
                c,d = 0,1 #next multiply m.0 and n.1 and subtract m.1 times n.0
                s.append(m[c]*n[d] - m[d]*n[c])
    except IndexError:
        print('Arrays must be same size')
    except TypeError:
        print('All values must be numbers')
    except Exception as e:
        return e
    else:
        return s
cross ([1,2,3],[4,5,6])

[-3, 6, -3]

In [137]:
#double check my function output
import numpy as np
v=[1,2,3]
v2=[4,5,6]
np.cross(v,v2,axisa=0,axisb=0)

array([-3,  6, -3])

## What is one hot encoding?
one hot encoding - convert categorical to binary - 

## Why do we use it?
We use it to allow the representation of categorical data to be more expressive.

In [158]:
#import pandas and read in the belize airbnb data set creating a dataframe
import pandas as pd
belize_df = pd.read_csv("belize_airbnb_listings.csv")

In [95]:
#get unique neighbourhood out of dataframe
value_list = belize_df['neighbourhood_group'].unique()
print(value_list)

#map each neighbourhood to an integer
group_to_int = dict((group,i) for i, group in enumerate(value_list))
int_to_group = dict((i,group) for i, group in enumerate(value_list))

#integer encode input data
value_encoded = [group_to_int[data] for data in value_list]
print(value_encoded)

['Belize' 'Stann Creek' 'Toledo' 'Cayo' 'Corozal' 'Orange Walk']
[0, 1, 2, 3, 4, 5]

In [96]:
#one hot encoded
#set up empty list to add to
one_hot = list()

#loop through the numbers in value_encoded and set up a new matrix
for x in value_encoded:
    new_matrix = [0 for _ in range(len(value_list))]
    new_matrix[x] = 1
    one_hot.append(new_matrix)
print(one_hot)

[[1, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 1]]

In [117]:
#check to see if we can get back to original values
values_for_dict = list()
for x in range(len(value_list)):
    invert_it = int_to_group[argmax(one_hot[x])]
    values_for_dict.append(invert_it)
    print(invert_it)

Belize
Stann Creek
Toledo
Cayo
Corozal
Orange Walk

In [121]:
# taking the information from values_for_dict and one_hot, set up a dictionary 
# to use with adding a column to the dataframe
dict_a = {}
dict_a = dict(zip(values_for_dict,one_hot))
print(dict_a)
belize_df['neighbourhood_value'] = belize_df['neighbourhood_group'].map(dict_a)
belize_df.head()

{'Belize': [1, 0, 0, 0, 0, 0], 'Stann Creek': [0, 1, 0, 0, 0, 0], 'Toledo': [0, 0, 1, 0, 0, 0], 'Cayo': [0, 0, 0, 1, 0, 0], 'Corozal': [0, 0, 0, 0, 1, 0], 'Orange Walk': [0, 0, 0, 0, 0, 1]}

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_value
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,"[1, 0, 0, 0, 0, 0]"
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,"[1, 0, 0, 0, 0, 0]"
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364,"[1, 0, 0, 0, 0, 0]"
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331,"[0, 1, 0, 0, 0, 0]"
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203,"[1, 0, 0, 0, 0, 0]"

In [126]:
import numpy as np

# map each neighbourhood to an integer
mapping = {}
for x in range(len(value_list)):
    mapping[value_list[x]] = x

print(mapping)

#wanted to add another column with just one value for the neighbourhood as the previous one 
#didn't look right

belize_df['new_neigh_value'] = belize_df['neighbourhood_group'].map(mapping)
belize_df.head()

{'Belize': 0, 'Stann Creek': 1, 'Toledo': 2, 'Cayo': 3, 'Corozal': 4, 'Orange Walk': 5}

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_value,new_neigh_value
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,"[1, 0, 0, 0, 0, 0]",0
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,"[1, 0, 0, 0, 0, 0]",0
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364,"[1, 0, 0, 0, 0, 0]",0
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331,"[0, 1, 0, 0, 0, 0]",1
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203,"[1, 0, 0, 0, 0, 0]",0