new warm up

In [10]:
import pandas as pd
import numpy as np

belize_df = pd.read_csv("belize_airbnb_listings.csv")

host_count = belize_df["host_id"].value_counts()

belize_groupby = belize_df.groupby("host_id")["price"].min()                                      
belize_groupby

host_demo = pd.DataFrame({"Count of properties per host": host_count,
                         "Minimum price": belize_groupby})
host_demo.head()

        Count of properties per host  Minimum price
150789                             1             40
157752                             5             71
345885                             4            111
562206                             2            232
563377                             1            191

In [ ]:
#CSV = comma separated values
#delimiter = separates the values - like ; or , or :
#gender_demog['Percentage of Players']=gender_demog['Percentage of Players'].map("{:,.2f}%".format)