#1 Importing and creating a new dataframe

In [45]:
import pandas as pd
belize_df = pd.read_csv("belize_airbnb_listings.csv")

#my_dict ={"price":[belize_groupby["price"].mean()],
#          "number_of_reviews": [belize_groupby["number_of_reviews"].mean()],
#           "availability_365": [belize_groupby["availability_365"].mean()]}
#
my_df_2 = belize_groupby[["price", "number_of_reviews", "availability_365"]].mean()

my_df_2

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824          17.647736        295.970837
Belize Mainland        288.273063          15.147601        261.014760
Cayo                   205.847525          14.566337        259.249505
Corozal                156.553846           7.569231        278.676923
Orange Walk            122.035714          14.821429        261.928571
Stann Creek Islands   1136.166667           5.750000        248.083333
Stann Creek Mainland   456.994690           8.470796        277.872566
Toledo Mainland        222.978723           4.127660        234.744681

#2 - create a new list from the square of each value

In [34]:
og_list=[2,4,6,8,10,12,14]
new_list = [x**2 for x in og_list]
print(new_list)

[4, 16, 36, 64, 100, 144, 196]

#3 - take the same list and create a new one where each value is 2/3

In [35]:
og_list=[2,4,6,8,10,12,14]
new_list = [x*2/3 for x in og_list]
print(new_list)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666667, 8.0, 9.333333333333334]

#4 - list comprehension to lowercase all the keys - chose list comprehension as that was where we were focused and we got a little assistance from Franscesca (I'm sure I misspelled her name)

In [44]:
my_dict={"Apples":1500, "Cranberries":2000, "Pears":2500, "Cherries":1600,"Plums": 2400, "Peaches":13600,"Oranges":7}

{key.lower():value for key,value in my_dict.items()}

{'apples': 1500,
 'cranberries': 2000,
 'pears': 2500,
 'cherries': 1600,
 'plums': 2400,
 'peaches': 13600,
 'oranges': 7}